<%- include('partials/header') %>
  <body>

    <div class="jumbotron centered " style="background-image: url('images/popcorn.png');">

      <div class="container">
      <i class="fa fa-film fa-10x" aria-hidden="true"></i>
        <h1  >FILMY BLOGS</h1>
        <p class="lead">WELCOME TO THE MOVIE REVIEWS BLOG</p>
        <hr>
        <a class="btn btn-outline-warning btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-outline-warning btn-lg" href="/login" role="button">Login</a>

      </div>
    </div>

    <%- include('partials/footer') %>
